/*Estilos para la pagina de asistencia en panel admin*/
#voa_table_assistence  thead tr th,#voa_table_assistence  tbody tr td{
	text-align: center;
	border:1px solid #AEAEAE !important;
	padding: 10px;
}
#voa_table_assistence  thead tr th{
	background:#D13530;
	color:white !important;
	border:1px solid #B22E29 !important;
}
#voa_table_assistence  tbody tr:nth-child(2n){
	background-color: #FFF8DC;
}
#voa_table_assistence caption{
	padding: 10px;
	background-color: #E7E7E7;
	color: black;
}


/*Estilos css para la tabla en el front end*/
table#table-filter-assistance {
	border:0.5px solid 404040 !important;
	border-collapse:collapse;
	font-size:12px;
}
table#table-filter-assistance td , table#table-filter-assistance th {
	border:0.5px solid #404040;
	padding:10px;
}

table#table-filter-assistance tr:nth-child(2n) {
    background:#F8DBD9;
}

 table#table-filter-assistance tr th{
	background:#D13530;
	color:white !important;
	border:1px solid #B22E29 !important;
}
