/*Estilos para la pagina de asistencia en panel admin*/
#voa_table_assistence  thead tr th,#voa_table_assistence  tbody tr td{
	text-align: center;
	border:1px solid #AEAEAE !important;
	padding: 10px;
}
#voa_table_assistence  thead tr th{
	background:#D13530;
	color:white !important;
	border:1px solid #B22E29 !important;
}
#voa_table_assistence  tbody tr:nth-child(2n){
	background-color: #FFF8DC;
}
#voa_table_assistence caption{
	padding: 10px;
	background-color: #E7E7E7;
	color: black;
}


/*Estilos css para la tabla en el front end*/
table#table-filter-assistance {
	border:0.5px solid 404040 !important;
	border-collapse:collapse;
	font-size:12px;
}
table#table-filter-assistance td , table#table-filter-assistance th {
	border:0.5px solid #404040;
	padding:10px;
}

table#table-filter-assistance tr:nth-child(2n) {
    background:#F8DBD9;
}

 table#table-filter-assistance tr th{
	background:#D13530;
	color:white !important;
	border:1px solid #B22E29 !important;
}


h2.entry-title{
	padding: 10px;
	background-color: #D13530;
	color:white;
	margin-bottom: 15px;
	border:1px solid #B22E29;
}
article.event_user_assist{
	background-color: #F7E6E6;
	margin: 0px !important;
	border:1px solid #D2C4C4;
	
}
article.event_user_assist h3{
	margin-top: 15px;
	text-indent: 10px;
}
span.article_event_date{
	color: #696262;
	margin-left: 10px;
}

td.Highlighted {
	background: green;
}
